body * {
  box-sizing: border-box;
  outline: none; }

section {
  overflow: hidden; }

div[class$='-container'] {
  width: 86.383601757%;
  margin: 0 auto; }
  div[class$='-container']:after {
    display: block;
    content: "";
    clear: both; }

body {
  font-family: 'Roboto', sans-serif; }

:link {
  text-decoration: none;
  color: inherit; }

:visited {
  color: inherit; }

::selection {
  background: rgba(0, 205, 107, 0.5); }

h1, h2, h3, h4 {
  font-weight: bold;
  text-transform: uppercase; }

.head {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: url(../i/head.png) center center no-repeat;
  background-size: cover; }
  .head .slider-controls {
    float: right; }
  .head .slider-control {
    display: block;
    margin: 0.5rem 0; }

h1 {
  display: inline-block;
  margin: 2rem 0;
  padding: 10px 0;
  font-size: 3.75rem;
  border: 2px solid #fff;
  border-right: none;
  border-left: none; }

h2 {
  margin: 2rem 0;
  font-size: 1.875rem;
  color: #566366; }

h3 {
  font-size: 1.375rem;
  color: #566366; }

h4 {
  color: #fff; }

p {
  margin: 1rem 0;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #919191; }

a {
  transition: color 0.3s ease; }

.head-container {
  padding: 29.5rem 0 3.5rem; }
  @media only screen and (max-width: 1200px) {
    .head-container {
      padding: 14.75rem 0 1.75rem; } }

.heading {
  margin-bottom: 10.5rem; }
  @media only screen and (max-width: 1200px) {
    .heading {
      margin-bottom: 5.25rem; } }

.btn {
  display: inline-block;
  padding: 1.1rem 2.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #fff;
  transition: background-color 0.3s ease; }

.learn-more {
  margin: 1.2rem auto;
  border-color: #fff; }
  .learn-more:hover {
    color: #4b5456;
    background: #fff; }

.slider-control {
  width: 11px;
  height: 11px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease; }
  .slider-control:hover, .slider-control.active {
    background-color: #fff; }

nav {
  clear: both;
  overflow: hidden;
  padding: 0.9rem 0.625rem;
  font-weight: bold;
  background-color: #1b2a2c; }

.logo {
  float: left;
  font-size: 1.875rem; }
  @media only screen and (max-width: 970px) {
    .logo {
      float: none; } }
  .logo .f {
    display: inline-block;
    box-sizing: content-box;
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 1rem;
    padding: 6px;
    background-color: #455355; }
  .logo .cal {
    color: #00cd6b; }

.menu {
  float: right;
  margin-top: 12px; }
  @media only screen and (max-width: 970px) {
    .menu {
      float: none;
      margin-top: 1.5rem; } }
  .menu li {
    display: inline-block; }
    .menu li:not(:last-child) {
      margin-right: 2.2rem; }
      @media only screen and (max-width: 1200px) {
        .menu li:not(:last-child) {
          margin-right: 1.2rem; } }
      @media only screen and (max-width: 1024px) {
        .menu li:not(:last-child) {
          margin-right: 0.9rem; } }
  .menu a {
    position: relative; }
    .menu a.active {
      color: #00cd6b; }
    .menu a:hover {
      color: #00cd6b; }
      .menu a:hover:after {
        opacity: 1;
        right: -15px; }
      .menu a:hover:before {
        opacity: 1;
        left: -15px; }
  .menu a:before, .menu a:after {
    position: absolute;
    display: block;
    top: 0;
    color: #00cd6b;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.3s ease; }
  .menu a:before {
    content: "[";
    left: 10px; }
  .menu a:after {
    content: "]";
    right: 10px; }

.about-container {
  padding: 4rem 0 3.7rem; }

.about-info {
  overflow: hidden;
  background-color: #f2f2f1; }
  .about-info p {
    margin: 2.5rem 0 2rem;
    line-height: 1.6; }

.about-item {
  float: left;
  width: 32.2033898305%; }
  .about-item.values {
    margin-right: 1.6949152542%; }
  .about-item.goals {
    margin-right: 1.6949152542%; }

.portrait {
  float: left;
  width: 488px;
  height: 754px;
  margin-right: 4rem;
  background: url(../i/portrait.png) -191px -66px no-repeat; }
  @media only screen and (max-width: 1200px) {
    .portrait {
      display: none; } }

.about-me {
  overflow: hidden;
  padding: 4rem 2rem 2rem; }
  @media only screen and (max-width: 1200px) {
    .about-me {
      padding-left: 7%;
      padding-right: 7%; } }

.activities {
  overflow: hidden;
  margin-top: 4rem; }
  .activities p {
    margin-top: 1.5rem;
    line-height: 1.5; }
    @media only screen and (max-width: 1310px) {
      .activities p {
        margin-top: 2rem;
        margin-bottom: 1.5rem; } }

.activity-item {
  float: left;
  width: 46.6101694915%;
  margin-bottom: 1.2rem; }
  .activity-item:nth-child(2n+1) {
    margin-right: 3.3898305085%; }
  @media only screen and (max-width: 720px) {
    .activity-item {
      float: none;
      width: 100%;
      margin-bottom: 3rem; } }

.activity-logo {
  float: left;
  width: 41px;
  height: 100px;
  margin-right: 25px;
  background-image: url(../i/sprite.png);
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1310px) {
    .activity-logo {
      height: 46px; } }

.design {
  background-position: 0 0; }

.marketing {
  background-position: -60px 0; }

.gr-design {
  background-position: -110px 0; }

.seo {
  background-position: -170px 0; }

.contact-info, .experience-description, .education-description, .skills-description {
  float: left;
  width: 45.7627118644%; }

.skill-container, .experience-container, .education-container {
  padding: 4rem 0; }

.education-container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem; }

.experience-container {
  padding-bottom: 1.4rem; }

.jobs, .diplomas, .skills-level {
  float: right;
  width: 47.2%;
  padding-top: 4.5rem; }

.skills-level {
  width: 45.6%; }

.diplomas, .jobs {
  padding-top: 6.5rem; }

.contact-me, .get-resume {
  margin-top: 0.4rem;
  color: #00cd6b;
  border-color: #00cd6b; }
  .contact-me:hover, .get-resume:hover {
    color: #fff;
    background-color: #00cd6b; }

.progress-bar {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 1rem 0 2.3rem;
  background-color: #f2f2f1; }
  .progress-bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #00cd6b; }
    .progress-bar .progress::after {
      position: absolute;
      top: 7px;
      right: 5px;
      font-size: 1.125rem;
      color: #fff; }

.photoshop .progress {
  width: 90%; }
  .photoshop .progress::after {
    content: '90%'; }

.illustrator .progress {
  width: 80%; }
  .illustrator .progress::after {
    content: '80%'; }

.html .progress {
  width: 90%; }
  .html .progress::after {
    content: '90%'; }

.php .progress {
  width: 70%; }
  .php .progress::after {
    content: '70%'; }

.resume {
  position: relative;
  overflow: visible;
  text-align: center;
  background-color: #f2f2f1; }
  .resume::after {
    position: absolute;
    bottom: -50px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    content: '';
    transform: translateX(-50%);
    border: 25px solid transparent;
    border-top-color: #f2f2f1; }
  .resume h2 {
    margin-bottom: 2.4rem; }

.resume-container {
  padding: 4rem 4rem 6.5rem; }

.get-resume {
  margin-top: 2rem; }

.diploma {
  margin-bottom: 4.5rem; }
  .diploma p {
    text-transform: capitalize; }
  .diploma .education-place {
    margin-bottom: 0.5rem; }

.job {
  margin-bottom: 4.3rem; }
  .job .job-place {
    margin-bottom: 0.6rem; }

.where {
  font-weight: 500;
  text-transform: capitalize; }

.score, .exp-years {
  display: inline-block;
  padding: 7px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #00cd6b; }

.divider {
  height: 0;
  margin: 1.9rem 0;
  border-top: 1px solid #ccc; }

.exp-years {
  text-transform: capitalize; }

.quotations {
  text-align: center;
  color: #919191;
  background-color: #f2f2f1; }
  .quotations .slider-controls {
    margin-top: 2.4rem; }
    .quotations .slider-controls .active {
      background-color: #00cd6b; }
  .quotations .slider-control {
    display: inline-block;
    margin-right: 0.5rem;
    border-color: #00cd6b; }
    .quotations .slider-control:hover {
      background-color: #00cd6b; }

.qoutations-container {
  padding: 6rem 4rem; }

blockqoute {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5; }
  blockqoute::before {
    content: '"'; }
  blockqoute::after {
    content: '"'; }

.author {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem; }

.portfolio {
  padding: 2rem 0 3.6rem;
  text-align: center; }

.portfolio-container {
  padding-top: 2rem; }

.works {
  overflow: hidden;
  margin-top: 6.5rem; }

.work {
  position: relative;
  float: left;
  width: 31.0169491525%;
  height: 300px;
  margin-right: 3.4745762712%;
  margin-bottom: 2.5rem;
  background-color: #252e30; }
  .work:nth-child(3n) {
    margin-right: 0; }
  .work:not(.categories):hover {
    cursor: pointer; }
  .work:not(.categories):before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(46, 204, 113, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease; }
  .work.work-active:after, .work:not(.categories):after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    content: '';
    background: url(../i/magnifying.png) 50% 50% no-repeat;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease; }
  .work.work-active:after, .work:not(.categories):hover:after, .work.work-active:before, .work:not(.categories):hover:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }

.categories {
  padding: 2rem;
  line-height: 1.5;
  text-align: left;
  color: #919191; }
  .categories ul {
    margin-top: 2rem;
    text-transform: capitalize; }
  .categories a:hover, .categories .active {
    color: #fff; }

.giraffe {
  background: url(../i/giraffe.png); }

.ui {
  background: url(../i/ui.png); }

.ontario {
  background: url(../i/ontario.png); }

.icons {
  background: url(../i/icons.png); }

.edges {
  background: url(../i/edges.png); }

.landing {
  background: url(../i/landing.png); }

.controls {
  background: url(../i/controls.png); }

.burned {
  background: url(../i/burned.png); }

.contacts {
  padding: 2rem 0 4rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #919191;
  background-color: #252e30; }
  .contacts ul {
    margin: 2.5rem 0; }
  .contacts h2 {
    color: #fff; }

.contacts-container {
  padding: 1.5rem 0 2.2rem; }

.contact-form {
  float: right;
  width: 45.5%;
  padding-top: 4rem; }

label {
  display: inline-block;
  margin: 0.9rem 0;
  font-size: 1.125rem;
  text-transform: capitalize;
  color: #fff; }

input[type='email'], input[type='text'], textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.9rem;
  font: normal 1.125rem 'Roboto', sans-serif;
  line-height: 1.5;
  color: #fff;
  border: none;
  outline: none;
  background-color: #4b5456; }

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 280px;
  margin-bottom: 2.7rem; }

input[type='submit'] {
  font: bold 1.125rem 'Roboto', sans-serif;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  background-color: #191f21; }
  input[type='submit']:hover {
    background-color: #1d2427; }
  input[type='submit']:active {
    background-color: #151a1b; }

.phone li {
  width: 42%; }

.key {
  margin-right: 1rem;
  text-transform: capitalize;
  color: #fff; }

.value {
  float: right;
  text-align: right; }

footer {
  text-align: center;
  text-transform: uppercase;
  background-color: #191f21; }
  footer .copy {
    font-size: 0.875rem;
    font-weight: 500;
    color: #4b5456; }

.footer-container {
  padding: 2rem 0; }

.social-icons {
  margin: 1.5rem 0;
  font-size: 0;
  text-align: center; }
  .social-icons li {
    display: inline-block; }

.social-icon {
  position: relative;
  display: block;
  overflow: hidden;
  width: 34px;
  height: 34px;
  margin-right: 0.6rem;
  font-size: 20px;
  color: #191f21;
  border-radius: 50%;
  background-color: #4b5456;
  transition: all 0.4s ease; }
  .social-icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .social-icon:hover {
    color: #fff; }
  .social-icon .fa-twitter {
    left: 52%; }
  .social-icon .fa-google-plus {
    top: 55%;
    left: 52%; }

.scale-up {
  opacity: 0;
  transform: scale(0);
  transition: all 1s ease-out; }
  .scale-up.in {
    opacity: 1;
    transform: scale(1); }

.slide-up {
  opacity: 0;
  transform: translateY(200px);
  transition: all 1s ease-out; }

.slide-down {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s ease-out; }

.slide-left {
  opacity: 0;
  transform: translate(-100px);
  transition: all 1s ease-out; }

.slide-right {
  opacity: 0;
  transform: translate(100px);
  transition: all 1s ease-out; }

.in {
  opacity: 1;
  transform: translate(0); }

.del1 {
  transition-delay: 0.3s; }

.dur1 {
  transition-duration: 0.3s; }

.del2 {
  transition-delay: 0.6s; }

.dur2 {
  transition-duration: 0.6s; }

.del3 {
  transition-delay: 0.9s; }

.dur3 {
  transition-duration: 0.9s; }

.del4 {
  transition-delay: 1.2s; }

.dur4 {
  transition-duration: 1.2s; }

.del5 {
  transition-delay: 1.5s; }

.dur5 {
  transition-duration: 1.5s; }
